.site-header {
    .bg-image('bg-menu.png');
}

.site-nav {
    background-color: @overlay;
    background-color: fade(@overlay, 45%);
    padding-bottom: 20px;
    padding-top: 15px;
    border-bottom: 2px solid #858990;
    a {
        font-size: 21px;
        font-weight: 400;
        color: @font-menu;
        text-decoration: none;
        span {
            padding-left: 5px;
            vertical-align: middle;
        }
        img {
            margin-left: 120px;
        }
    }
    ul {
        &:extend(.ul-unstyled);
        float: right;
        li {
            display: inline-block;
            margin-left: 32px;
            a {
                display: block;
                color: @font-menu;
                font-weight: 300;
                font-size: 16px;
                text-decoration: none;
                padding-bottom: 6px;
                line-height: 1;
                &.active {
                    font-weight: 900;
                }
                &:hover {
                    .transition();
                    color: @font-menu;
                    font-size: 18px;
                    font-weight: 900;
                    // background: url(../img/menu/underline-menu.png) repeat-x 0 100%;
                    border-bottom: 3px solid #5cab22;
                }
            }
        }
    }
}

.site-expertise {
    ul {
        &:extend(.ul-unstyled);
        position: relative;
        text-align: center;
        li {
            // float: right;
            display: inline-block;
            color: white;
            font-size: 14px;
            line-height: 1;
            font-weight: 300;
            padding: 15px 35px 15px 20px;
            vertical-align: center;
            margin-top: 0;
            text-align: left;
            div {
                display: block;
                color: #a5a5a5;
                padding-top: 6px;
                text-align: justify;
                width: 100%;
                max-width: 475px;
            }
            &.active {
                background-color: @overlay;
                background-color: fade(@overlay, 45%);
            }
            &:hover {
                background-color: @overlay;
                background-color: fade(@overlay, 45%);
            }
        }
    }
}

.text-heading {
    margin: 85px 0px 85px 0px;
    color: #f6f6f6;
    font-size: 41px;
    font-weight: 800;
    line-height: 50px;
}

button {
    width: 144px;
    height: 57px;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    display: inline-block;
    color: #888;
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    border-width: 0;
    background-color: white;
    margin-bottom: 200px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.partners {
    background-color: #f6f6f6;
    ul {
        &:extend(.ul-unstyled);
        li {
            height: 60px;
            display: inline-block;
            margin-top: 40px;
            margin-bottom: 38px;
            text-align: center;
            line-height: 60px;
            div {
                vertical-align: middle;
            }
            div:hover {
                .transition();
                transform: scale(1.2);
            }
        }
    }
}

.our-team {
    height: 320px;
    background-color: @accent;
    text-align: center;
    .about-team {
        float: left;
        margin-left: 190px;
        h1 {
            color: white;
            margin-top: 40px;
        }
        div {
            color: white;
            font-size: 24px;
            font-weight: 300;
            line-height: 24px;
            margin-top: 30px;
            p {
                width: 500px;
            }
        }
        button {
            width: 163px;
            height: 42px;
            padding: 0;
            margin-top: 40px;
            vertical-align: middle;
            cursor: pointer;
            outline: none;
            display: inline-block;
            color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 6px;
            text-transform: uppercase;
            border-width: 0;
            background-color: #fb4949;
            margin-bottom: 200px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
        }
    }
    .team-foto {
        float: right;
        margin: 0 -15px 0;
        overflow: hidden;
        /* this is important */
        position: relative;
        /* this is important too */
        width: 1060px;
        height: 320px;
        img {
            margin-top: -130px;
            overflow: hidden;
        }
    }
}

.expertise {
    background-color: #fff;
    color: @font;
    text-align: center;
    .exp-heading {
        h1 {
            color: black;
            font-family: 'Lato-Medium', Arial, sans-serif;
        }
        p {
            /* Text style for "Our team has a" */
            width: 800px;
            font-size: 24px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            margin: 0 auto;
        }
    }
    .row {
        margin-top: 55px;
        h3 {
            color: black;
            font-family: 'Lato-Regular', Arial, sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 16px;
            margin-top: 25px;
        }
        p {
            font-family: 'Lato-Regular', Arial, sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            margin-top: 32px;
            margin-bottom: 70px;
        }
    }
}

.about {
    // .img-about('sprite-about.png');
    background-image: url("../img/aboutus/about-us.jpg");
    text-align: center;
    // height: 830px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -200px;
    background-attachment: fixed;
    .about-heading {
        margin: 0 auto;
        h1 {
            color: white;
            font-family: 'Lato-Bold', Arial, sans-serif;
            margin-top: 40px;
            margin-bottom: 0;
        }
    }
    .row {
        margin-top: 80px;
        h2 {
            color: #fefefe;
            font-family: 'Lato-Black', Arial, sans-serif;
            font-size: 24px;
            font-weight: 900;
            line-height: 38px;
            margin-top: 20px;
            font-variant: small-caps;
            margin-bottom: 145px;
        }
    }
}

.contact-us {
    height: 500px;

	.adress {
			h1{
				margin-top: 60px;
			}

			p{
				margin-top: 30px;
				color: #717171;
				font-family: 'Lato-Light';
				font-size: 24px;
				font-weight: 300;
				line-height: 24px;
				max-width: 220px;
			}
		
	}

    .form {
        margin-top: 60px;

        label {
            margin-bottom: 10px;
        }

        input {
	        background-color: #f2f2f2;
            color: black;
            font-family: 'Lato-Light';
            font-size: 18px;
            font-weight: 300;
            height: 35px;
            padding-left: 40px;

        }
        textarea {
            background-color: #f2f2f2;
            height: 145px;
            resize: none;
            color: black;
            font-family: 'Lato-Light';
            font-size: 18px;
            font-weight: 300;
            padding-left: 40px;
        }

        button {
        	color: white;
        	text-transform: uppercase;
        	background-color: #fb4949;
			border-radius: 2px;
			width: 163px;
			height: 42px;
			float: left;
			margin: 10px 0 100px 280px;
        }
    }
}
